html {
  background-color: rgba(89, 99, 119);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #ffffff;
  accent-color: rgb(255, 107, 107);
}

canvas {
  display: block;
  background-color: darkgray;
  margin: 20px auto;

  /* width: 512px;
  height: 512px; */
  image-rendering: pixelated;
}

label {
  padding: 1em;
  display: inline-block;
  text-align: left;
}

label > input,
label > select {
  margin-left: 0.5em;
}
fieldset {
  text-align: left;
}
